<div class="playlist-page">
  <% if flash[:error] %>
    <h3><%= flash[:error] %></h3>
  <% end %>

  <h1>Check out your <span class="logo">music selfie</span></h1>

  <iframe src="https://embed.spotify.com/?uri=<%= @playlist_uri %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

  <%= link_to "Upload Another Selfie", home_path , class: "btn btn-default" %>
</div>