<%= image_tag("selfie.jpg", class: "bcg") %>

<div class="welcome-page">
  <div class="selfie-hero home-bcg">
    <% if !flash.empty? %>
      <p><%= flash[:error] %></p>
    <% end %>

    <h1 class="logo">music selfie</h1>
    
    <%= link_to '/auth/spotify', class: "btn sign-in" do %>
      <h4>Sign In With</h4><%= image_tag('spotify_logo.png') %>
    <% end %>
  </div>

<!--   <div class="selfie-video home-bcg">
    <h3 id="turn-video-text">Turn a video...</h3> 
  </div>

  <div class="selfie-music home-bcg">
    <h3 id="into-music-text">into music</h3>
  </div> -->
</div>



