<h1>Music Selfie</h1>
<h3>Turn a selfie into music</h3>

<% if !flash.empty? %>
  <p><%= flash[:error] %><p>
<% end %>

<%= link_to "Sign In With Spotify", '/auth/spotify', class: "btn btn-default" %>