/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// MAIN LOGO... font-family: 'Raleway Dots', cursive; (font-weight: 400)
// body text... font-family: 'Roboto', sans-serif; (font-weights: 100 , 400)

html {
  margin: 0 auto;
  top: 0;
  left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
  color: #fff;
}

.bcg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
}

.logo {
  font-family: 'Raleway Dots', cursive;
}

// ***************************************
// WELCOME PAGE
// ***************************************

.welcome-page h1 {
  font-size: 6em;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

.welcome-page .btn {
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
}

.welcome-page .btn:hover {
  color: #fff;
}

.sign-in {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: 30px;
}

.sign-in h4 {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: bottom;
  font-weight: 100;
}

// ***************************************
// UPLOAD PAGE
// ***************************************

.upload-page {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.upload-page span {
  display: block;
}

.upload-page h2,
.upload-page h5 {
  font-weight: 100;
}

.upload-page h4 {
  font-weight: 100;
  margin: 20px auto;
}

.video-choice:hover {
  color: #fff;
}

.glyphicon {
  font-size: 5em;
}

#video-upload,
#video-capture {
  border-radius: 100%;
  border: 1px solid #fff;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

#video-upload span,
#video-capture span {
  margin: 0 auto;
  padding-top: 50px;
}

.error-message {
  color: red;
  font-weight: 400;
}

input[type="file"] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.submit-upload {
  margin-top: 20px;
  border: 1px solid #fff;
  font-weight: 100;
  padding: 10px 20px;
  color: #fff;
  background: transparent;
}

.submit-upload:hover {
  color: #fff;
}

// ***************************************
// PLAYLIST PAGE
// ***************************************

.playlist-page {
  text-align: center;
  margin-top: 50px;
}

.emotions div {
  display: inline-block;
  margin: 0 auto;
}

.emotions div span {
  padding-bottom: 0;
}

.emo-tag {
  font-weight: 100;
  padding: 0 10px;
  display: inline-block;
}

.playlist-page h1 {
  font-weight: 100;
}

.playlist-page span {
  font-size: 1.7em;
  display: block;
  padding: 20px;
}

.playlist-page .btn {
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
}

.playlist-page .btn:hover {
  color: #fff;
}


// ***************************************
// MEDIA QUERIES
// ***************************************

/*Desktop */
@media screen and (min-width: 1024px) {
  
  //  WELCOME PAGE ----------
    .bcg {
      // width: 100%;
      // height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5000;
    }

    .welcome-page h1 {
      font-size: 9em;
    }

    .sign-in {
      width: 40%;
    }

  //  UPLOAD PAGE ----------

}

/*iPad horizontal*/
@media screen and (max-width: 1024px) {
  
  //  WELCOME PAGE ----------
    .sign-in {
      width: 60%;
    }

  //  UPLOAD PAGE -----------

}

/*iPad vertical*/
@media screen and (min-width: 768px) {
  
  //  WELCOME PAGE ----------
    .welcome-page h1 {
      padding-top: 200px;
    }

    .sign-in {
      width: 70%;
      margin-top: 40px;
    }

  //  UPLOAD PAGE ----------

    #video-upload,
    #video-capture {
      margin: 20px;
      display: inline-block;
    }

    #video-upload span,
    #video-capture span {
      padding-top: 50px;
    }

}

/*iPhone horizontal ?????? */
// @media screen and (max-width: 768px) {

// }

