/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// MAIN LOGO... font-family: 'Raleway Dots', cursive; (font-weight: 400)
// body text... font-family: 'Roboto', sans-serif; (font-weights: 100 , 400)

html {
  margin: 0 auto;
  top: 0;
  left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
  color: #fff;
  background-color: #000;
}

.bcg {
  width: 100%;
  // height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
}

.logo {
  font-family: 'Raleway Dots', cursive;
}

// ***************************************
// WELCOME PAGE
// ***************************************

.welcome-page h1 {
  font-size: 6em;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

.welcome-page .btn {
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
}

.welcome-page .btn:hover {
  color: #fff;
}

.sign-in {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: 30px;
}

.sign-in h4 {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: bottom;
  font-weight: 100;
}

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+54,1+92 */

// .gradiant:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   height: 400px;
//   z-index: -1000;
//   background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(57,85,107,0) 54%, rgba(10,15,19,1) 92%, rgba(0,0,0,1) 100%);
//   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(54%,rgba(57,85,107,0)), color-stop(92%,rgba(10,15,19,1)), color-stop(100%,rgba(0,0,0,1)));
//   background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(57,85,107,0) 54%,rgba(10,15,19,1) 92%,rgba(0,0,0,1) 100%);
//   background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(57,85,107,0) 54%,rgba(10,15,19,1) 92%,rgba(0,0,0,1) 100%);
//   background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(57,85,107,0) 54%,rgba(10,15,19,1) 92%,rgba(0,0,0,1) 100%);
//   background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(57,85,107,0) 54%,rgba(10,15,19,1) 92%,rgba(0,0,0,1) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 );
// }

// ***************************************
// UPLOAD PAGE
// ***************************************

.upload-page {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.upload-page span {
  display: block;
}

.upload-page h2,
.upload-page h5 {
  font-weight: 100;
}

.upload-page h4 {
  font-weight: 100;
  margin: 20px auto;
}

.video-choice:hover {
  color: #fff;
}

.glyphicon {
  font-size: 5em;
}

#video-upload,
#video-capture {
  border-radius: 100%;
  border: 1px solid #fff;
  height: 200px;
  width: 200px;
  padding: 0;
  margin: 20px auto;
}

#video-upload span,
#video-capture span {
  line-height: 200px;
}

.error-message {
  color: red;
  font-weight: 400;
}

input[type="file"] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.submit-upload {
  margin-top: 20px;
  font-weight: 400;
  padding: 10px 20px;
  color: #000;
  background: #A6CC3D;
}

.submit-upload:hover {
  color: #000;
}

.submit-choices,
.record-box {
  overflow: hidden;
}

// Video Buttons

.video-control-buttons {
  margin: 20px auto;
}
.video-control-buttons h4 {
  margin: 0 auto;
}

#record-button {
  color: green;
  border-color: green;
  border: 2px solid;
  border-radius: 100%;
  height: 110px;
  width: 110px;
  padding: 25px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#stop-recording-button {
  color: red;
  border-color: red;
  border: 2px solid;
  border-radius: 100%;
  height: 110px;
  width: 110px;
  padding: 25px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#upload-button {
  color: #fff;
  border-color: #fff;
  border: 2px solid;
  border-radius: 100%;
  height: 110px;
  width: 110px;
  padding: 25px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#cancel-button {
  display: block;
  margin: 20px auto;
  font-weight: 100;
}

#cancel-button:hover {
  color: #fff;
  font-weight: 400;
}

// ***************************************
// VIDEO PROCESSING ANIMATION
// ***************************************

.waiting-animation {
  padding: 50px;
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000;
}

.waiting-animation h4.animate {
  animation: bubble-fade 4s infinite ease-in-out;
  -moz-animation: bubble-fade 4s infinite ease-in-out;
  -webkit-animation: bubble-fade 4s infinite ease-in-out;
}

.equalizer {
  margin: 20px auto;
}

#height-holder {
  height: 40px;
  width: 1px;
  display: inline-block;
}

.bar {
  width: 5px;
  background-color: #fff;
  display: inline-block;
  vertical-align: bottom;
}

#e1.animate {
  animation: equalizer-pulse-first 2s infinite;
  -moz-animation: equalizer-pulse-first 2s infinite;
  -webkit-animation: equalizer-pulse-first 2s infinite;
}

#e2.animate {
  animation: equalizer-pulse-second 1s infinite;
  -moz-animation: equalizer-pulse-second 1s infinite;
  -webkit-animation: equalizer-pulse-second 1s infinite;
}

#e3.animate {
  animation: equalizer-pulse-third 2s infinite;
  -moz-animation: equalizer-pulse-third 2s infinite;
  -webkit-animation: equalizer-pulse-third 2s infinite;
}

#e4.animate {
  animation: equalizer-pulse-fourth 1s infinite;
  -moz-animation: equalizer-pulse-fourth 1s infinite;
  -webkit-animation: equalizer-pulse-fourth 1s infinite;
}
// -------------------------------------------
@keyframes bubble-fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes bubble-fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes bubble-fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
// -------------------------------------------
@keyframes equalizer-pulse-first {
  0% { height: 10px; }
  50% { height: 20px; }
  100% { height: 10px; }
}

@-moz-keyframes equalizer-pulse-first {
  0% { height: 10px; }
  50% { height: 20px; }
  100% { height: 10px; }
}

@-webkit-keyframes equalizer-pulse-first {
  0% { height: 10px; }
  50% { height: 20px; }
  100% { height: 10px; }
}
// -------------------------------------------
@keyframes equalizer-pulse-second {
  0% { height: 30px; }
  50% { height: 10px; }
  100% { height: 30px; }
}

@-moz-keyframes equalizer-pulse-second {
  0% { height: 30px; }
  50% { height: 10px; }
  100% { height: 30px; }
}

@-webkit-keyframes equalizer-pulse-second {
  0% { height: 30px; }
  50% { height: 10px; }
  100% { height: 30px; }
}
// -------------------------------------------
@keyframes equalizer-pulse-third {
  0% { height: 20px; }
  40% { height: 10px; }
  60% { height: 30px; }
  100% { height: 20px; }
}

@-moz-keyframes equalizer-pulse-third {
  0% { height: 20px; }
  40% { height: 10px; }
  60% { height: 30px; }
  100% { height: 20px; }
}

@-webkit-keyframes equalizer-pulse-third {
  0% { height: 20px; }
  40% { height: 10px; }
  60% { height: 30px; }
  100% { height: 20px; }
}
// -------------------------------------------
@keyframes equalizer-pulse-fourth {
  0% { height: 20px; }
  50% { height: 15px; }
  100% { height: 20px; }
}

@-moz-keyframes equalizer-pulse-fourth {
  0% { height: 20px; }
  50% { height: 15px; }
  100% { height: 20px; }
}

@-webkit-keyframes equalizer-pulse-fourth {
  0% { height: 20px; }
  50% { height: 15px; }
  100% { height: 20px; }
}

// ***************************************
// PLAYLIST PAGE
// ***************************************

.playlist-page {
  text-align: center;
  margin: 50px auto;
}

.emotions div {
  display: inline-block;
  margin: 0 auto;
}

.emotions div span {
  padding-bottom: 0;
}

.emo-tag {
  font-weight: 100;
  padding: 0 10px;
  display: inline-block;
}

.playlist-page h1 {
  font-weight: 100;
}

.playlist-page span {
  font-size: 1.7em;
  display: block;
  padding: 20px;
}

.playlist-page .btn {
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
}

.playlist-page .btn:hover {
  color: #fff;
}

.upload-again {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}

.upload-again .glyphicon-equalizer {
  display: inline-block;
  padding: 0px;
  padding-right: 10px;
}

.upload-again h4 {
  display: inline-block;
  font-size: 1em;
  font-weight: 100;
}

// ***************************************
// MEDIA QUERIES
// ***************************************

@media screen and (min-width: 440px) {
  //  WELCOME PAGE ----------
    .sign-in {
      width: 60%;
    }


}

@media screen and (min-width: 530px) {
  // .gradiant:before {
  //   height: 600px;
  // }

  //  UPLOAD PAGE ----------
    .upload-again {
      width: 65%;
    }
}

// @media screen and (min-width: 690px) {
//   .gradiant:before {
//     height: 700px;
//   }
// }


/*iPad vertical*/
@media screen and (min-width: 768px) {
  
  //  WELCOME PAGE ----------
    .welcome-page h1 {
      padding-top: 200px;
      font-size: 7.5em;
    }

    .sign-in {
      width: 50%;
      margin-top: 40px;
    }

  //  UPLOAD PAGE ----------

    .upload-again {
      width: 50%;
    }

    #video-upload,
    #video-capture {
      margin: 20px;
      display: inline-block;
    }

}

// @media screen and (min-width: 820px) {
//   .gradiant:before {
//     height: 0px;
//   }
// }

/*iPad horizontal*/
@media screen and (min-width: 1024px) {
  
  //  WELCOME PAGE ----------

    .welcome-page h1 {
      font-size: 9em;
    }

    .sign-in {
      width: 40%;
    }

  //  UPLOAD PAGE -----------

    .upload-again {
      width: 40%;
    }
}

/*Desktop */
@media screen and (min-width: 1200px) {
  
  //  WELCOME PAGE ----------
    .bcg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5000;
    }

    .welcome-page h1 {
    }

    .sign-in {
    }

    .upload-again {
      width: 25%;
    }


}

/* Large Screen */
@media screen and (min-width: 1600px) {
  
}

